/* BODY */
body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

/* NAVBAR */
nav {
    background: #222;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
}

/* HOVER */
nav ul li a:hover {
    background: #555;
}

/* SEMUA HALAMAN */
section {
    display: none;
    padding: 50px;
    position: relative;
}

/* HOME DEFAULT + BACKGROUND */
#home {
    display: block;
    background: url("Background.jpg") no-repeat center;
    background-size: cover;
    color: white;
}

/* OVERLAY HOME */
#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

/* PRODUK BACKGROUND */
#produk {
    background: url("Background.jpg") no-repeat center;
    background-size: cover;
}

/* SAAT DIKLIK */
#home:target,
#produk:target,
#contact:target {
    display: block;
}

/* GALERI */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    /* BIAR TERLIHAT DI ATAS BACKGROUND */
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 10px;
}

/* ITEM */
.item {
    width: 150px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

/* HOVER CARD */
.item:hover {
    transform: translateY(-5px);
}

/* GAMBAR */
.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

/* HOVER GAMBAR */
.item img:hover {
    transform: scale(1.05);
}

/* TEKS */
.item p {
    margin-top: 8px;
    font-weight: bold;
}